<div class="card mt-3">
  <div class="card-header text-center">
    <h4><%= link_to "#{blog.title}", blog_path(blog) %></h4>
    <%= render partial: 'blogs/admin_actions', locals: { blog: blog}%>
  </div>
  <div class="blog-post-meta mt-1 ml-1">
    <label class="text-info"><%= link_to blog.topic.title, topic_path(blog.topic) %> </label> ||
    <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago.
  </div>
  <div class="card-body text-justify">
    <%= markdown blog.body %>
  </div>
</div>