<div class="card mt-3">
  <div class="card-header text-center">
    <h4><%= link_to "#{blog.title}", blog_path(blog) %></h4>
    <% if logged_in?(:site_admin) %>
      <div class="d-flex">
        <%= link_to blog.status, toggle_status_blog_path(blog), class: 'btn-sm btn-' + (blog.status == "published" ? "success" : "warning") %>
        <%= link_to 'Edit', edit_blog_path(blog), class: 'btn-sm btn-secondary ml-2'%>
        <%= link_to 'Destroy', blog , method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-sm btn-danger ml-auto'%>
      </div>
    <% end %>
  </div>
  <div class="blog-post-meta mt-1 ml-1">
    <label class="text-info"><%= link_to blog.topic.title, topic_path(blog.topic) %> </label> ||
    <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago.
  </div>
  <div class="card-body text-justify">
    <%= markdown blog.body %>
  </div>
</div>

<!--<div class="card mt-3">-->
<!--  <div class="card-header">-->
<!--    <strong>Topic: </strong>-->
<!--    <em><%#= link_to "#{@blog.topic.title}", topic_path(@blog.topic)  %></em>-->
<!--  </div>-->
<!--  <div class="card-body text-justify">-->
    <%#= markdown @blog.body %>
<!--  </div>-->
<!--</div>-->
