<div class="blog-post">
  <h2 class="blog-post-title"><%= link_to blog.title.upcase, blog %></h2>
  <p class="blog-post-meta">
    <label class="text-info"><%= blog.topic.title %> </label> ||
    <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago.
  </p>
  <% if logged_in?(:site_admin) %>
    <p class="blog-post-meta">
      <div class="d-flex">
        <%= link_to blog.status, toggle_status_blog_path(blog), class: 'btn-sm btn-' + (blog.status == "published" ? "success" : "warning") %>
        <%= link_to 'Edit', edit_blog_path(blog), class: 'btn-sm btn-secondary ml-2'%>
        <%= link_to 'Destroy', blog , method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-sm btn-danger ml-auto'%>
      </div>
    </p>
  <% end %>
  <p class="text-justify"><%= blog.body %></p>

</div>
