  <div class="card" data-id="<%=portfolio.id %>">
    <%= image_tag portfolio_img(portfolio.thumb_image, 'thumb') %>
   <%= image_tag portfolio.thumb_image.to_s %>
    <p class="card-text">
      <span><%= portfolio.title %></span>
      <%= link_to "",portfolio_show_path(portfolio), class: 'stretched-link' %>
    </p>
  </div>
