<%= link_to "Back", request.referer.present? ? request.referer : root_path %>

<h1>Show</h1>
<div>
  <ul>
      <li>
        <%= link_to "Edit the Portfolio", edit_portfolio_path(@portfolio_item.id) %>

        <p><%= @portfolio_item.title %></p>
        <p><%= @portfolio_item.subtitle %></p>
        <p><%= @portfolio_item.body %></p>
        <%= image_tag @portfolio_item.main_image unless @portfolio_item.main_image.nil? %>

        <h2>Technologies Used:</h2>
        <% @portfolio_item.technologies.each do |tech| %>
        <p><%= tech.name %></p>
        <% end %>
      </li>
  </ul>
</div>