<div class="container pt-2">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag @portfolio.main_image.to_s, width: "100%" %>
    </div>
    <div class="col-md-5">
      <h2><%= @portfolio.title %></h2>
      <hr/>
      <em><%= @portfolio.subtitle %></em>
      <p><%= @portfolio.body %></p>
      <hr/>
      <h4>Technologies userd: </h4>
      <% @portfolio.technologies.each do |tech| %>
        <p><%= tech.name %></p>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <%= link_to "View All Portfolio", portfolios_path, class: "btn btn-secondary" %>
  </div>
</div>