<div class="nav">
  <%= location %>
  <div class="nav-item">
    <% if current_user.is_a?(User) %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
      <%= link_to "Register", new_user_registration_path %>
    <% end %>
  </div>
  <hr/>
  <div class="nav-item">
    <%= link_to "Home", root_path %>
  </div>
  <div class="nav-item">
    <%= link_to "About", about_me_path %>
  </div>
  <div class="nav-item">
    <%= link_to "Contact", contact_path %>
  </div>
  <div class="nav-item">
    <%= link_to "My Portfolios", portfolios_path %>
  </div>
  <div class="nav-item">
    <%= link_to "My Blogs", blogs_path %>
  </div>
  <hr />
</div>