<div class="nav">
  <div class="nav-item">
    <%= link_to "Home", root_path %>
  </div>
  <div class="nav-item">
    <%= link_to "About", about_me_path %>
  </div>
  <div class="nav-item">
    <%= link_to "Contact", contact_path %>
  </div>
  <div class="nav-item">
    <%= link_to "My Portfolios", portfolios_path %>
  </div>
  <div class="nav-item">
    <%= link_to "My Blogs", blogs_path %>
  </div>
  <hr />
</div>